embedded/.pio
embedded/.vscode/
embedded/data/web/portal/*
embedded/data/web/panel/*
embedded/config.json
embedded/src/temp_codes

.vscode

captive-portal/node_modules
captive-portal/build

control-panel/node_modules
control-panel/build

/mobile/node_modules